:root {
  font-family: "Noto Sans", sans-serif;
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #166ee0;
}

.navbar {
  display: flex;
  top: 0px;
  position: sticky;
  font-family: "REM";
  padding-block: 10px;
  background-color: rgb(81, 138, 223);
  color: white;
}

.navbar--name {
  margin-right: auto;
  text-indent: 25px;
  font-weight: 400;
}

.navbar--about {
  padding-inline: 20px;
}

.navbar--projects {
  padding-inline: 20px;
}

.navbar--commissions {
  padding-inline: 20px;
}

.navbar--contacts {
  padding-inline: 20px;
}

.hero {
  width: 100%;
  height: 100vh;
  margin-top: -80.44px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  font-family: "REM";
  font-weight: 900;
  font-size: 75px;
  line-height: 0;

  background-color: #407edb;
  color: rgb(0, 0, 0);
}

.hero > h1 {
  font-weight: 800;
}

.hero > h2 {
  font-weight: 600;
  margin-top: 50px;
}

.about{
  padding: 50px;
}

.about--header{
  font-size: 75px;
  margin-left: 100px;
  font-weight: 700;
  color: rgb(243, 170, 101);
  margin-bottom: 10px;
}

.about--text {
  font-size: 30px;
  margin-left: 30px;
  font-weight: 500;
  color: white;
  overflow: hidden;
  text-indent: 10px;
}

.projects {
  padding: 50px;
}

.projects--header{
  font-size: 75px;
  margin-left: 100px;
  font-weight: 700;
  color: rgb(243, 170, 101);
  margin-bottom: 10px;
}