:root {
  font-family: "Noto Sans", sans-serif;
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  top: 0vh;
  position: sticky;
  font-family: "REM";
  background: linear-gradient(to right, rgb(118, 159, 219) 0%, rgb(70, 133, 226) 40%, rgb(100, 144, 211) 90%);
  color: white;
  z-index: 10;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-right: 0.52vw;
}

.navbar--name {
  margin-right: auto;
  text-indent: 1.29vw;
  font-weight: 400;
  padding-block: 1.07vh;
}

.navbar--text {
  padding-inline: 1.03vw;
  padding-block: 1.07vh;
  border-radius: 10px;
}

.navbar--text:hover {
  background-color: rgb(68, 117, 221);
}

.navbar--link {
  color: white;
  text-decoration: none;
}

.hero {
  width: 100%;
  height: 100vh;
  margin-top: -8.62943vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  font-family: "REM";
  font-weight: 900;
  font-size: 8.06vh;
  line-height: 0;

  background: linear-gradient(#407edb 80%, #166ee0);
  color: rgb(0, 0, 0);
}

.hero > h1 {
  font-weight: 800;
}

.hero > h2 {
  font-weight: 600;
  margin-top: 5.37vh;
}

.about {
  padding-block: 5.37vh;
  padding-inline: 2.58vw;
  background-color: #166ee0;
  margin-top: -1px;
  background-image: url("images/other/background.png");
  background-repeat: repeat;
  background-position: bottom 1vh;
}

.about--header {
  font-size: 9.67vh;
  margin-left: 5.15vw;
  font-weight: 700;
  color: rgb(248, 180, 116);
  margin-bottom: 1.07vh;
}

.about--container {
  display: flex;
  padding-right: 2.58vw;
}

.about--text {
  font-size: 3.22vh;
  margin-left: 2.58vw;
  font-weight: 500;
  color: white;
  overflow: hidden;
  text-indent: 0.52vw;
  padding-right: 7.73vw;
}

.about--portrait {
  margin-top: 3.22vh;
  border-radius: 25px;
  height: 500px;
  aspect-ratio: 3/4;
}

.about--link {
  color: #81b8ff;
}

.projects {
  background-color: #146de0;
  padding-block: 5.37vh;
  padding-inline: 2.58vw;
  padding-bottom: 26.85vh;
  margin-top: -1px;
  background-image: url("images/other/background.png");
  background-repeat: repeat;
}

.projects--header {
  font-size: 8.59vh;
  margin-left: 5.15vw;
  font-weight: 700;
  color: rgb(240, 161, 88);
  margin-bottom: 1.07vh;
}

.projects--container {
  padding-inline: 10.30vw;
  padding-top: 5.37vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  min-height: 300px;
  min-width: 300px;
  max-height: 300px;
  max-width: 300px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  margin-block: 2.69vh;
  margin-inline: 1.29vw;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
}

.card--image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 25px;
}

.card--header {
  text-align: center;
  font-size: 2.69vh;
  color: rgb(252, 137, 30);
  font-family: "REM";
  font-weight: 600;
}

.card--description
{
  filter: contrast(100%);
  margin-inline: 1.03vw;
  font-size: 1.61vh;
  color: white;
  font-weight: 500;
}

.card--link {
  display: block;
  text-align: center;
  font-weight: 500;
  color: rgb(81, 138, 223);
}

.card--label {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: white;
  z-index: 1;
  padding: 5px;
  border-radius: 5px;
  font-family: "REM";
}

.commissions {
  padding-block: 5.37vh;
  padding-inline: 2.58vw;
  background-color: #106be0;
  margin-top: -1px;
  background-image: url("images/other/background.png");
  background-repeat: repeat;
  background-position: top 1vh;
}

.commissions--header {
  font-size: 9.67vh;
  margin-left: 5.15vw;
  font-weight: 700;
  color: rgb(224, 132, 46);
  margin-bottom: 1.07vh;
}

.commissions--text {
  font-size: 3.22vh;
  margin-left: 2.58vw;
  font-weight: 500;
  color: white;
  overflow: hidden;
  text-indent: 0.52vw;
  padding-right: 7.73vw;
}

.contacts {
  padding-top: 5.37vh;
  padding-bottom: 8.06vh;
  padding-left: 1.55vw;
  background: linear-gradient(#106be0, #0a59cf 10%);
  color: white;
  margin-top: -1px;
}

.contacts--header {
  font-size: 5.37vh;
  margin-left: 10.30vw;
  font-weight: 700;
  color: rgb(218, 123, 34);
  margin-bottom: 1.07vh;
}

.contacts--text {
  font-size: 2.15vh;
  margin-left: 7.73vw;
  font-weight: 300;
  color: rgb(220, 236, 255);
  overflow: hidden;
  text-indent: 0.52vw;
  padding-right: 2.58vw;
  margin-bottom: -1.07vh;
}

.contacts--container {
  display: flex;
  flex-wrap: nowrap;
}

.contacts--box {
  flex-basis: 50%;
}

.contacts--boxheader {
  font-size: 3.22vh;
  font-family: "REM";
  text-align: center;
}

.contacts--iconcontainer {
  display: flex;
  margin-inline: 20%;
}

.contacts--icons {
  filter: grayscale(10%);
  margin-inline: 1%;
}

.contacts--caption {
  margin-inline: 20%;
  font-size: 1.61vh;
  font-weight: 300;
}