:root {
  font-family: "Noto Sans", sans-serif;
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #e3e4fa;
}

.hero {
  width: 100vw;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  font-family: "REM";
  font-weight: 900;
  font-size: 75px;
  line-height: 0;

  background-color: #ebedfa;
  color: rgb(0, 0, 0);
}